/* Error: Undefined mixin.
 *   ,
 * 2 |       @include flex(column);
 *   |       ^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   scss\components\_card-course.scss 2:7  @forward
 *   scss\components\_inedx.scss 5:1        @forward
 *   scss\index.scss 2:1                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 2 \2502        @include flex(column);\d\a   \2502        ^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   scss\\components\\_card-course.scss 2:7  @forward\a   scss\\components\\_inedx.scss 5:1        @forward\a   scss\\index.scss 2:1                    root stylesheet";
}
