// ---------------------------- btn styles
.btn-black {
  display: inline-flex;
  padding: 0.5rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 2.5rem;
  background: $black-1;
  /* shadow */
  box-shadow: 0px 4px 10px 0px rgba(26, 33, 42, 0.2);
  cursor: pointer;
  color: $white-1;
  @extend .t-body;
  transition: all 0.3s ease-in-out;
  &:hover {
    border: 1px solid $black-1;
    background: $white-1;
    color: $black-1;
  }
}
.btn-black-icon {
  @extend .btn-black;
  padding: 0.5rem 1.25rem 0.5rem 1.5rem;
  box-shadow: none;
}

.btn-red {
  @extend .btn-black;
  background: $pink-1;
  color: $white-1;
  box-shadow: none;
  &:hover {
    border: 1px solid $pink-1;
    background: $white-1;
    color: $pink-1;
  }
}
.btn-red-icon {
  @extend .btn-red;
  padding: 0.5rem 1.25rem 0.5rem 1.5rem;
}

.btn-white-left {
  @extend .btn-black-icon;
  padding: 0.5rem 1.5rem 0.5rem 1.25rem;
  border: 1px solid $gray-2;
  background: $white-1;
}
.btn-white-right {
  @extend .btn-white-left;
  padding: 0.5rem 1.25rem 0.5rem 1.5rem;
}
