// ------------------------------ typo font size 
.t-t1{
color: $black-1;
font-family: $font;
font-size: 8.875rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.t-h1{
    @extend .t-t1;
    font-size: 2.75rem;
}
.t-h2{
    @extend .t-t1;
    font-size: 1.5rem;
}
.t-h3{
    @extend .t-t1;
    font-size: 1.25rem;
    font-weight: 500;
}
.t-h4{
     @extend .t-h3;
     font-size: 1rem;
}
.t-body{
@extend .t-t1;
font-size: 1rem;
font-weight: 400;
line-height: 2.25rem; 
}
.t-body-b{
    @extend .t-body;
    font-size: 1.25rem;
}
.t-caption{
    @extend .t-body;
    font-size: 0.75rem;
    line-height: 1.625rem;
}
