@use "../../utils/index" as *;

.blog-comments {
  width: 100%;

  .single-comment-number {
    margin-block-end: 0.25rem;

    h6 {
      @include font_style(h4);

    }
  }

  .comment-respond {
    width: 100%;

    h3.comment-reply-title {
      @include font_style(body);
      margin-block-end: 0.88rem;
    }

    form {
      @include flex(column, start, end);
      gap: 1rem;
      margin-block-end: 1.5rem;

      > * {
        width: 100%;
      }


      .input-group {
        @include flex(row, start, start);

        padding: 1rem 1rem 0.5rem 1.25rem;
        gap: 0.25rem;
        border-radius: 1.875rem;
        border: 1px solid $gray-2;
        background: $white-1;

        textarea {
          width: 100%;
          height: 100%;
          background: $white-1;
        }

        i {
          &:before {
            color: $gray-1;
            font-size: 1.5rem;
            line-height: 2rem;
          }
        }

      }

      .input-group2 {
        @include flex(row, start, center);

        gap: 0.25rem;
        padding: 0.5rem 1rem 0.5rem 1.25rem;
        border-radius: 2.5rem;
        border: 1px solid $gray-2;
        background: $white-1;

        input {
          @include font_style(body);
          color: $gray-1;
          width: 100%;
          background: $white-1;
          height: 3.2rem;
        }

        i {
          &:before {
            color: $gray-1;
            font-size: 1.5rem;
          }
        }

      }

      .input-group2.author-field {
        order: -2;
      }

      .input-group2.email-field {
        order: -1;
      }

      .form-submit {
        @include flex();
        @include btn($icon: true);

        gap: 0.25rem;
        text-align: left;
        width: fit-content;

        i {
          &:before {

            font-size: 1.5rem;
          }
        }

        #submit-commentform {
          @include font_style(body);

          background: inherit;
          color: inherit;

        }

        &:hover {
          color: $black-1;

          #submit-commentform {
            background: inherit;
            color: inherit;
          }
        }
      }

    }
  }


  .comment-list {
    @include flex();
    gap: 1.25rem;
    width: 100%;
    flex-wrap: wrap;

    @media (width <= 768px) {
      gap: 0.75rem;
    }

    .comment {
      @include flex(row, start, start);
      padding: 1.5rem;
      gap: 0.625rem;
      flex-basis: 100%;
      flex-wrap: wrap;
      border-radius: 1.25rem;
      border: 1px solid $gray-2;
      background: $white-1;

      .comment-author {
        @include flex(row, start, start);
        @include font_style(h4);

        order: 1;
        flex-basis: auto;
        gap: 0.62rem;
        color: $black-1;

        img {
          width: 1.87rem;
          height: 1.87rem;
          border-radius: 50%;
        }
      }

      .reply {
        order: 2;

        a {
          @include flex(row, start, start);

          visibility: hidden;
          position: relative;
          font-size: 0;

          @include sudo_icon(after, "\e918", $black-1, $size: 1.5rem) {
            visibility: visible;

          }

        }
      }

      .commentmetadata {
        @include font_style(caption);

        color: $gray-1;
        order: 3;
        flex-basis: 100%;
        padding-right: 3rem;
        margin-top: -0.8rem;


      }

      p {
        @include font_style(body);
        color: $black-1;
        order: 4;
        flex-basis: 100%;

      }

      .depth-2,
      .depth-3,
      .depth-4,
      .depth-5 {
        background: $blue-3;
        border: none;

        .reply {
          order: 0;
        }
      }
    }
  }
}