@use "./variables" as *;
@use "./mixin" as *;

//-------first styles
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  direction: rtl;
}

body {
  font-family: $font;
  line-height: 1.62rem;
  overflow-x: hidden;
  background: $white-1;
  color: $black-1;
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

i span {
  font-family: $font;
}

input,
textarea,
select {
  font-family: $font;
}

textarea {
  resize: none;
}

button {
  font-family: $font;
}

::placeholder {
  @include font_style("body");
  color: $gray-1;
}

:focus-visible {
  outline: 0;
}
.padding-top {
  padding-block-start: 5rem;
  @media (width<=992px) {
    padding-block-start: 1rem;
  }
}
// ---------------------------------------- default style
input,
textarea,
select {
  border: none;

  &:focus-visible {
    border: none;
  }

  &:focus {
    outline: none;
  }
}
// -------------------------------------------container style
.container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 1rem;
}
