// ------------------------------------- colors
$white-1: #feffff;
$white-2: rgba(255, 255, 255, 0.02);
$white-3: #ffffff;
$white-4: #f4f4f4;
$black-1: #1a212a;
$black-2: #404040;
$black-3: #525252;
$gray-1: #8c9094;
$gray-2: #e8e9ea;
$pink-1: #ff6883;
$pink-2: #ffa3b3;
$blue-1: #67d6f9;
$blue-2: #0b68df;
$blue-3: #cff4ff;
$yellow-1: #fff48d;
$yellow-2: #fbfff5;
$yellow-3: #6e6500;
$green-1: #e8fdea;
$green-2: #0e7e3b;
$green-3: #42ea531f;
$green-4: #055b18;
$red-1: #feeaea;
$red-2: #f82c2c;
$red-3: #f82c2c1a;

// ------------------------------------ font
$font: 'peyda';

// ------------------------------------flex classes
.flex-r {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flex-c {
  display: flex;
  flex-direction: column;
}
