@use "../../utils/index" as *;

.gallery-slider {
  .container {
    @include flex(column, start, start);

    gap: 0.75rem;
    direction: rtl;
    margin-block-start: 6rem;

    .honors-title {
      h2 {
        @include font_style(h2);
        @include text_overflow(1);
      }


    }

    .contain {
      @include flex();

      gap: 1rem;
      flex-wrap: wrap;

      .gallery-box{
        @include flex(column);
        flex: 1 1 46%;

        border-radius: 2.5rem;
        @media (width<=768px) {
          flex: 1 1 100%;
        }

        img {
          width: 100%;
          height:25.0625rem;
          border-radius: 2.5rem;
          object-fit: cover;
        }
      }
    }
  }

}