@use '../../utils/index' as *;

.history {
  .title-and-navigation {
    margin-block-start: 4rem;

    @media (max-width: 768px) {
      margin-block-start: 1rem;
    }

    h2 {
      @include font_style(h1);
      margin-block-end: 0.5rem;
    }
  }

  .swiper-slide {
    @include flex(row-reverse, start, start);

    .img-wrapper {
      flex: 2;
      img {
        width: 100%;
        height: auto;
      }
    }

    .content {
      width: 100%;
      flex: 3;

      h3 {
        @include font_style(h2);
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
