@use "../../utils/index" as *;

//----------------------------- class section style
.classes-content {
  @include flex();
  position: relative;
  align-items: start;
  gap: 1.25rem;
  flex-wrap: wrap;

  .front-coach-img {
    flex: 1 1 43%;

    .img-content {
      @include flex();
      @include sudo(before, 40%, 100%, $yellow-1) {
        border-radius: 50% 50% 0 0;
        position: absolute;
        bottom: 0;
        z-index: -1;
      }

      img {
        max-width: 32rem;
        max-height: 33.3rem;
        position: absolute;
        bottom: -10%;
        object-fit: contain;
      }
    }
    .img-content.pink {
      &::before {
        background: $pink-1;
      }
    }
    .img-content.blue {
      &::before {
        background: $blue-1;
      }
    }
    .video-content {
      @include flex();
      cursor: pointer;
      @include sudo(before, 7.56756rem, 7.56756rem, none) {
        border: 1rem solid rgba(255, 255, 255, 0.2);
        position: absolute;
        border-radius: 50%;
        animation: sunRays 4s ease-in-out infinite;
        z-index: -1;
      }
      @include sudo(after, 8.75rem, 8.75rem, none) {
        border: 1rem solid rgba(255, 255, 255, 0.1);
        position: absolute;
        border-radius: 50%;
        animation: sunRays 4s ease-in-out infinite;
        z-index: -2;
      }
      transition: opacity 0.3s ease-in-out;
      animation: pulseAnimation 4s ease-in-out infinite;
      position: absolute;
      right: 36%;
      top: 15%;

      .bg-icon-color {
        position: absolute;
        width: 6.5rem;
        height: 6.5rem;
        border-radius: 50%;
        background-color: $yellow-1;
      }
      .tooltip-text {
        visibility: hidden;
        width: auto;
        color: $black-1;
        position: absolute;
        z-index: 1;
        right: -50%;
        transform: translate(7rem, 2rem);
        opacity: 0;
        font-size: 1rem;
        white-space: nowrap;
      }
      i {
        position: absolute;

        &:before {
          font-size: 1.5rem;
          color: $black-1;
          font-weight: 700;
        }
      }

      .video-popup {
        display: none;
      }
      &:hover {
        .tooltip-text {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  .front-coach-content {
    flex: 1 1 55%;
    height: 35rem;
    @include flex(column);
    align-items: start;
    gap: 0.62rem;
    max-width: 55%;

    h3 {
      @include font_style(h2);
      @include text_overflow(1);
    }

    .nav-btn {
      position: relative;
      height: 2.8rem;
    }

    .description {
      @include font_style(body);
      color: $black-1;
      height: 9rem;
      overflow: hidden;
      h3 {
        margin-bottom: 0.5rem;
      }
    }

    h4 {
      @include font_style(h3);
      margin-block: 0.5rem;
    }

    .students-row {
      width: 100%;

      .students-slider {
        width: 100%;

        .sliders-wrapper {
          width: 100%;
          margin-block-start: -0.3rem;

          .student-info {
            position: relative;
            height: 14.25rem;
            width: 13rem;
            cursor: pointer;

            img {
              height: 100%;
              width: 100%;
              border-radius: 1.5rem;
              object-fit: cover;
            }
            .add-video-content {
              height: 100%;
              width: 100%;
              position: relative;
              border-radius: 1.5rem;
              img {
                position: absolute;
                border-radius: 1.875rem;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                object-fit: cover;
                border-radius: 1.5rem;
              }
              svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
                transition: all 0.5s ease-in-out;
              }
            }
            //.achievement-description {
            //  @include flex(column, end, start);
            //  @include font_style(h4);
            //  direction: rtl;
            //  gap: 0.25rem;
            //  color: $white-1;
            //  padding: 0.88rem;
            //  position: absolute;
            //  width: 100%;
            //  height: 100%;
            //  top: 0;
            //  border-radius: 1.5rem;
            //  background: linear-gradient(
            //    0deg,
            //    rgba(0, 0, 0, 0.6) 0%,
            //    rgba(0, 0, 0, 0.6) 100%
            //  );
            //  transform: translateY(-110%);
            //  transition: transform 0.3s ease-in-out;
            //}
            &:hover {
              svg {
                circle {
                  fill: none;
                  stroke: $white-1;
                  stroke-width: 1px;
                }
                path {
                  fill: $white-1;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 992px) {
    flex-direction: column;
    position: relative;

    .front-coach-img {
      @include flex();
      width: 100%;
      position: relative;

      flex: 1 1 100%;

      .img-content {
        height: 21rem;
        &::before {
          width: 50%;
        }

        img {
          max-width: 18.5rem;
          max-height: 19.5rem;
          position: unset;
          object-fit: contain;
        }
      }
      .video-content {
        right: 70%;
        .bg-icon-color {
          width: 3.5rem;
          height: 3.5rem;
        }
        &::before {
          width: 4.2rem;
          height: 4.2rem;
        }
        &::after {
          width: 5rem;
          height: 5rem;
        }
      }
    }

    .front-coach-content {
      flex: 1 1 100%;
      max-width: 100%;

      h3 {
        @include font_style(h3);
      }

      .nav-btn {
        position: absolute;
        width: 100%;
        top: 20%;
        height: 2.8rem;
        .panels-navigation {
          width: 100%;

          .coach-slider-prev.prv {
            left: 0;
            position: absolute;
          }
        }
      }

      .description {
      }

      h4 {
      }

      .students-row {
        flex-direction: column;
        margin-block-start: 0;
      }
    }
  }

  @media (max-width: 500px) {
    flex-direction: column;
    .front-coach-img {
      .img-content {
        width: 100%;
        &::before {
          width: 95%;
        }
      }
      .video-content {
        right: 80%;
      }
    }

    .students-row {
      flex-direction: column;
      margin-block-start: 0;

      .students-slider > .sliders-wrapper > .student-info {
        flex-basis: 80% !important;
      }
    }
  }
}
