@use "../../utils/index" as *;

.faq-section {
  .faq-content {
    @include flex();
    align-items: start;
    gap: 1.25rem;
    flex-wrap: wrap;
    > div {
      flex: 1;
    }
    .faq-drop-down {
      @include flex(column);
      padding: 1.625rem;
      border-radius: 2.5rem;
      border: 1px solid $gray-2;
      background: $white-1;

      .accordion {
        @include flex(column, start, start);
        @include font_style(body);

        border-bottom: 1px solid $gray-2;
        padding: 1rem 0;

        .question {
          @include flex();

          cursor: pointer;
          color: $black-1;
          justify-content: space-between;
          width: 100%;
          i {
            @include flex();
            width: 2rem;
            height: 2rem;
            background: $white-1;
            border: 1px solid $pink-1;
            border-radius: 50%;
            transition: all 0.5s ease-in-out;

            &::before {
              font-size: 1.5rem;
              color: $pink-1;
            }
          }
        }
        .answer {
          color: $gray-1;
          max-height: 0;
          overflow: hidden;
          transition: all 0.3s ease-in-out;
          text-align: right;
        }
        &:last-child {
          border-bottom: none;
        }
      }
      .accordion.show {
        .question {
          i {
            background: $pink-1;
            transform: rotate(-90deg);
            &::before {
              color: $white-1;
            }
          }
        }
      }
    }
    .faq-img {
      @include flex();
      @include sudo(before, 36.875rem, 36.875rem, #00a195) {
        border-radius: 50%;
        position: absolute;
        z-index: -1;
      }
      @include sudo(after, 36.875rem, 36.875rem, none) {
        border-radius: 50%;
        position: absolute;
        border: 1px solid #00a195;
        top: 3%;
      }
      position: relative;

      img {
        max-width: 36.875rem;
        max-height: 36.875rem;
      }
      @media (width<=768px) {
        &:before,
        &:after {
          width: 18.625rem;
          height: 18.625rem;
        }
        img {
          max-width: 18.625rem;
          max-height: 18.625rem;
        }
      }
    }
  }

  @media (width<=992px) {
    .faq-content {
      @include flex(column, center, center);
      .faq-drop-down {
      }
      .faq-img {
        order: -1;
      }
    }
  }
}
