@use "../../utils/index" as *;

.home-nested-slider {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  .slide {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: #333;
    text-align: left;

    .row {
      @include flex(row, center, end);
      width: 100%;
      height: 100%;

      .slide-container {
        @include flex(column, center, end);
        width: 70%;
        .circle {
          width: 43rem;
          height: 43rem;
          background-color: $pink-2;
          border-radius: 50%;
          position: absolute;
          bottom: 9%;
          z-index: -1;
          left: 30%;
        }

        .content-hero-slide {
          @include flex(column, center, center);
          width: 100%;

          .title {
            @include font_style(t1);
            color: $black-1;
            position: absolute;
            top: 24%;
            white-space: nowrap;
            z-index: -1;

            .white-text {
              color: $white-1;
            }
          }

          .hero-img {
            img {
              max-height: 37.625rem;
            }
          }

          .shadow {
            width: 53.4375rem;
            height: 4.125rem;
            flex-shrink: 0;
            border-radius: 53.4375rem;
            background: radial-gradient(
              68.83% 68.1% at 50% 50%,
              #570613 0%,
              rgba(255, 61, 90, 0) 86.54%
            );

            position: absolute;
            bottom: -2%;
            z-index: -2;
          }
        }

        .panels-navigation {
          @include flex(column);
          position: absolute;
          top: 60%;
          right: 2rem;

          .nav-panel.home-nested-next i {
            &:before {
              transform: rotate(180deg);
            }
          }

          i {
            background: none;
            &:before {
              color: $black-1;
              font-size: 1.5rem;
            }
          }
        }
        .pagination-btn {
          @include flex(column);
          @include font_style(body);
          position: absolute;
          right: 2.5rem;
          bottom: 1.5rem;
          color: $black-1;
          gap: 0.62rem;
          .numbers {
            @include flex();
            gap: 0.38rem;
            position: relative;
            span.line {
              width: 3.12rem;
              height: 1px;
              background-color: $black-1;
            }
          }
          .next-btn {
            @include btn($icon: true, $side: true) {
              background: none;
              border-color: $white-1;
              color: $black-1;
              i {
                &::before {
                  color: $black-1;
                }
              }
            }
          }
        }

        .bottom_circle {
          width: 40%;
          height: 80%;
          flex-shrink: 0;
          border-radius: 0rem 0rem 25rem 25rem;
          background: var(--blue-3, #cff4ff);
          position: absolute;
          top: 0;
          z-index: -1;
          left: 30%;
        }
        .top_circle {
          width: 40%;
          height: 80%;
          flex-shrink: 0;
          border-radius: 25rem 25rem 0rem 0rem;
          background: $yellow-2;
          position: absolute;
          bottom: 0;
          z-index: -1;
          left: 30%;
        }
      }
    }
    @media (width<=1200px) {
      .row {
        .slide-container {
          .circle {
            width: 40rem;
            height: 40rem;
            left: 25%;
          }
          .bottom_circle {
            width: 60%;
            left: 20%;
          }
          .top_circle {
            width: 60%;
            left: 20%;
          }
          .content-hero-slide {
          }
        }
      }
      .title {
        font-size: 5rem;
        top: 10% !important;
      }
    }
    @media (width<=1100px) {
      .row {
        .slide-container {
          .circle {
            width: 40rem;
            height: 40rem;
            left: 20%;
          }
        }
      }
    }
  }

  .slide.pink {
    background: $pink-1;
  }

  .slide.blue {
    background: $blue-1;
  }

  .slide.yellow {
    background: $yellow-1;
  }
}

.overly {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 99;
  background: $white-1;
}
.overly.second {
  left: 33.3%;
}
.overly.third {
  left: 66.6%;
}

#first-slide {
  .panels-navigation {
    i {
      &:before {
        color: $white-1;
      }
    }
  }
  .pagination-btn {
    .numbers {
      color: $white-1;
      span.line {
        background-color: $white-1;
      }
    }
    .next-btn {
      color: $white-1;
      &:hover {
        background: none;
      }
      i {
        &::before {
          color: $white-1;
        }
      }
    }
  }
}
