@use '../../utils/index' as *;
.package-slider {
  @media (min-width: 1024px) {
    .package-content {
      display: flex;
      gap: 1rem;
      .swiper-slide {
        flex: 1;
      }
    }
  }
}
