@use "../../utils/index" as *;
.package-slider {

  .package-content {

    .swiper-slide {
      max-width: 25rem;
      max-height: 34rem;
    }
  }

  @media (min-width: 1400px) {
    .package-content {
      @include flex();
      gap: 1rem;

    }
  }
}
