@use "../../utils/index" as *;
.package-slider {
  overflow: hidden;
  height: 100%;
  .package-content {
    @include flex();
    gap: 1rem;
    flex-wrap: wrap;
    .swiper-slide {
      max-width: 25rem;
      max-height: 34rem;
    }
  }

  @media (max-width: 1400px) {
    .package-content {
      flex-wrap: nowrap;
    }
  }
}
