@use '../../utils/index' as *;

.shop-content {
  @include flex(row, start, start);
  flex-wrap: wrap;
  gap: 1rem;
  > * {
    flex: 1;
    flex-basis: 24%;
    border-radius: 2.5rem;
    border: 1px solid $gray-2;
    background: $white-1;
  }
}
