@use "../../utils/index" as *;

.shop-content,
ul.products {
  @include flex();
  gap: 1rem;
  flex-wrap: wrap;
  > * {
    flex: 1 1 24%;
    border-radius: 2.5rem;
    border: 1px solid $gray-2;
    background: $white-1;
  }
}
.shop-section {
  @media (width<=768px) {
    flex: 1 1 100%;
  }
}
