@use "../../utils/index" as *;

.start-section {
  .home-nested-slider.swiper-container {
    .slide {
      .row {
        align-items: center;

        .container {
          @include flex(column, space-between, start);
          direction: rtl;
          text-align: right;
          height: 100%;
          padding: 5rem 0 1.5rem 0;

          .arrow-large-view {
            svg {
              position: absolute;
              left: 0;
            }
          }

          .start-content {
            @include flex();
            gap: 1.25rem;
            flex-wrap: wrap;
            padding-block-start: 5rem;

            > div {
              flex: 1;
            }

            .start-img {
              position: relative;
              @include flex();

              .circle {
                @include sudo(before, 34rem, 34rem, none) {
                  position: absolute;
                  bottom: 2%;
                  border: 1px solid $blue-1;
                  border-radius: 50%;
                }
                width: 34rem;
                height: 34rem;
                border-radius: 50%;
                background: $blue-1;
                position: absolute;
                top: -8%;
                z-index: -1;
              }

              .diamond {
                width: 28rem;
                height: 28rem;
                transform: rotate(45deg);
                background: $pink-1;
                position: absolute;
                z-index: -1;

                @include sudo(before, 28rem, 28rem, none) {
                  position: absolute;
                  border: 1px solid $pink-1;
                  transform: rotate(4deg);
                }
              }

              img.back-img {
                max-width: 36rem;
                max-height: 38rem;
                object-fit: contain;
              }

              .video-content {
                @include flex();
                cursor: pointer;
                @include sudo(before, 7.56756rem, 7.56756rem, none) {
                  border: 1rem solid rgba(255, 255, 255, 0.2);
                  position: absolute;
                  border-radius: 50%;
                  animation: sunRays 4s ease-in-out infinite;
                  z-index: -1;
                }
                @include sudo(after, 8.75rem, 8.75rem, none) {
                  border: 1rem solid rgba(255, 255, 255, 0.1);
                  position: absolute;
                  border-radius: 50%;
                  animation: sunRays 4s ease-in-out infinite;
                  z-index: -2;
                }
                transition: opacity 0.3s ease-in-out;
                animation: pulseAnimation 4s ease-in-out infinite;
                position: absolute;
                left: 30%;
                top: -7%;

                .bg-icon-color {
                  width: 6.5rem;
                  height: 6.5rem;
                  border-radius: 50%;
                  background-color: $yellow-1;

                  position: absolute;

                }

                .tooltip-text {
                  visibility: hidden;
                  width: auto;
                  color: $black-1;
                  position: absolute;
                  z-index: 1;
                  right: -50%;
                  transform: translate(-50%, 1rem);
                  opacity: 0;
                  font-size: 1rem;

                  white-space: nowrap;
                }

                i {
                  position: absolute;

                  &:before {
                    font-size: 1.5rem;
                    color: $black-1;
                    font-weight: 700;
                  }
                }

                .video-popup {
                  display: none;
                }
                &:hover{
                  .tooltip-text{
                    visibility: visible;
                    opacity: 1;
                  }
                }
              }
            }

            .arrow-mobile {
              display: none;
            }

            .start-text {
              @include flex(column, start, start);
              height: 100%;

              .start-text-title > h2 {
                @include font_style(h1);
                @include text_overflow(1);
                margin-block-end: 0.5rem;
              }

              .slide-text-block {
                @include flex(column, start, start);
                gap: 0.62rem;
                transition: all 0.3s ease-in-out;

                .start-description {
                  margin-block-end: 0.62rem;

                  h3 {
                    @include font_style(h2);
                    margin-block-end: 0.62rem;
                  }
                }

                .start-text-btn {
                  @include font_style(h4);
                  @include flex();
                  color: $blue-2;
                  transition: all 0.3s ease-in-out;
                  overflow: hidden;
                  cursor: pointer;
                  i {
                    transform: rotate(180deg);

                    &::before {
                      color: $blue-2;
                      margin-inline-end: 0.25rem;
                    }
                  }
                }

                .start-text-btn.more-content {
                  opacity: 1;
                  visibility: visible;
                  transform: translateY(0);
                  height: auto;
                }

                .start-text-btn.less-content {
                  opacity: 0;
                  visibility: hidden;
                  transform: translateY(-100%);
                  height: 0;
                }
              }

              .slide-text-block.active {
                overflow-y: auto;
                height: 70%;

                .start-text-btn.more-content {
                  opacity: 0;
                  visibility: hidden;
                  transform: translateY(-100%);
                  height: 0;
                }

                .start-text-btn.less-content {
                  opacity: 1;
                  visibility: visible;
                  transform: translateY(0);
                  height: auto;
                  margin-top: -0.7rem;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 992px) {
    margin-block-start: 2rem;
    .home-nested-slider.swiper-container {
      overflow: auto;
      height: auto;

      .start-wrapper {
        @include flex(column);
        gap: 1rem;

        .slide {
          height: auto;
          padding-block-start: 2rem;

          .container {
            padding: 0;

            .arrow-large-view {
              display: none;
            }

            .start-content {
              flex-direction: column;
              padding-block-start: 0;
              gap: 2.5rem;

              .start-img {
                width: 100%;

                .circle {
                  &::before {
                    width: 20rem;
                    height: 20rem;
                  }

                  top: 0;
                  width: 20rem;
                  height: 20rem;
                }

                .diamond {
                  width: 20rem;
                  height: 20rem;

                  &::before {
                    width: 20rem;
                    height: 20rem;
                  }
                }

                img.back-img {
                  max-width: 18rem;
                  max-height: 20rem;
                }

                .video-content {
                  left: 50%;
                  bottom: -1.5rem;
                  top: unset;

                  .bg-icon-color {
                    width: 3.5rem;
                    height: 3.5rem;
                  }

                  &::before {
                    width: 4.2rem;
                    height: 4.2rem;
                  }

                  &::after {
                    width: 5rem;
                    height: 5rem;
                  }
                }
              }

              .arrow-mobile {
                display: flex;

                svg {
                  position: absolute;
                  left: 0.5rem;
                  top: 30%;
                }
              }

              .start-text {
                padding-block-start: 1rem;
                padding-inline: 1rem;

                .start-text-title > h2 {
                  @include font_style(h2);
                }

                .panels-navigation {
                  display: none;
                }

                .slide-text-block {
                  .start-description {
                    h3 {
                      @include font_style(h3);
                    }
                  }

                  .start-text-btn {
                  }
                }
              }
            }
          }
        }

        #start-1.slide {
          padding-block-start: 0rem;

          .start-img {
            .circle {
              display: none;
            }
          }
        }

        .slide.diamond {
          .start-content > .start-img {
            padding-block-start: 2rem;

            img {
              max-width: 17rem;
              max-height: 24rem;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    transform: translateY(-10rem) !important;
    margin-block-start: 0;
    margin-block-end: -10rem;
    .arrow-mobile {
      svg {
        top: 50% !important;
      }
    }
  }
  @media (max-width: 500px) {
    .home-nested-slider.swiper-container
    .start-wrapper
    .slide
    .container
    .start-content
    .start-img
    .diamond {
      width: 15rem !important;
      height: 15rem;

      &::before {
        width: 15rem;
        height: 15rem;
      }
    }
    #start-3 {
      .arrow-mobile {
        svg {
          top: 40% !important;
        }
      }
    }
    .arrow-mobile {
      svg {
        top: 30% !important;
      }
    }
  }
}
