@use "../../utils/index" as *;

.start-section {
  .home-nested-slider.swiper-container {
    .slide {
      .row {
        align-items: center;

        .container {
          @include flex(column, space-between, start);
          direction: rtl;
          text-align: right;
          height: 100%;
          padding: 5rem 0 1.5rem 0;

          .arrow-large-view {
            svg {
              position: absolute;
              left: 0;
            }
          }

          .start-content {
            @include flex();
            gap: 1.25rem;
            flex-wrap: wrap;
            padding-block-start: 5rem;

            > div {
              flex: 1;
            }

            .start-img {
              position: relative;
              @include flex();

              .circle {
                @include sudo(before, 34rem, 34rem, none) {
                  position: absolute;
                  bottom: 2%;
                  border: 1px solid $blue-1;
                  border-radius: 50%;
                }
                width: 34rem;
                height: 34rem;
                border-radius: 50%;
                background: $blue-1;
                position: absolute;
                top: -8%;
                z-index: -1;
              }

              .diamond {
                width: 28rem;
                height: 28rem;
                transform: rotate(45deg);
                background: $pink-1;
                position: absolute;
                z-index: -1;

                @include sudo(before, 28rem, 28rem, none) {
                  position: absolute;
                  border: 1px solid $pink-1;
                  transform: rotate(4deg);
                }
              }

              .video-content {
                @include flex();
                @include sudo(before, 7.56756rem, 7.56756rem, none) {
                  border: 1rem solid rgba(255, 255, 255, 0.2);
                  position: absolute;
                  border-radius: 50%;
                  animation: sunRays 4s ease-in-out infinite;
                  z-index: -1;
                }
                @include sudo(after, 8.75rem, 8.75rem, none) {
                  border: 1rem solid rgba(255, 255, 255, 0.1);
                  position: absolute;
                  border-radius: 50%;
                  animation: sunRays 4s ease-in-out infinite;
                  z-index: -2;
                }

                animation: pulseAnimation 4s ease-in-out infinite;
                position: absolute;
                left: 0;
                top: -7%;

                img {
                  position: absolute;
                }

                i {
                  position: absolute;

                  &:before {
                    font-size: 1.5rem;
                  }
                }

                .video-popup {
                  visibility: hidden;
                  opacity: 0;
                }
              }
            }
            .arrow-mobile {
              display: none;
            }
            .start-text {
              @include flex(column, start, start);
              height: 100%;

              .start-text-title > h2 {
                @include font_style(h1);
                @include text_overflow(1);
                margin-block-end: 0.5rem;
              }

              .start-description {
                margin-block-end: 0.62rem;

                h3 {
                  @include font_style(h2);
                  margin-block-end: 0.62rem;
                }
              }

              .start-text-btn {
                @include font_style(h4);
                @include flex();
                color: $blue-2;

                i {
                  transform: rotate(180deg);

                  &::before {
                    color: $blue-2;
                    margin-inline-end: 0.25rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media (width<=992px) {
    .home-nested-slider.swiper-container {
      overflow: auto;
      height: auto;

      .start-wrapper {
        @include flex(column);
        gap: 1rem;
        .slide {
          height: auto;
          padding-block-start: 2rem;
          .container {
            padding: 0;
            .arrow-large-view {
              display: none;
            }
            .start-content {
              flex-direction: column;
              padding-block-start: 0;
              .start-img {
                width: 100%;

                .circle {
                  &::before {
                    width: 20rem;
                    height: 20rem;
                  }
                  top: 0;
                  width: 20rem;
                  height: 20rem;
                }

                .diamond {
                  width: 20rem;
                  height: 20rem;

                  &::before {
                    width: 20rem;
                    height: 20rem;
                  }
                }
                img {
                  max-width: 17rem;
                  max-height: 19rem;
                }
                .video-content {
                  left: 35%;
                  top: 80%;
                  img {
                    max-width: 3.5rem;
                    max-height: 3.5rem;
                  }
                  &::before {
                    width: 4.2rem;
                    height: 4.2rem;
                  }
                  &::after {
                    width: 5rem;
                    height: 5rem;
                  }
                }
              }
              .arrow-mobile {
                display: flex;
                svg {
                  position: absolute;
                  left: 1rem;
                  top: 34%;
                }
              }
              .start-text {
                padding-block-start: 1rem;
                padding-inline: 1rem;

                .start-text-title > h2 {
                  @include font_style(h2);
                }
                .panels-navigation {
                  display: none;
                }
                .start-description {
                  h3 {
                    @include font_style(h3);
                  }
                }
                .start-text-btn {
                }
              }
            }
          }
        }
        #start-1.slide {
          padding-block-start: 0rem;
          .start-img {
            background: linear-gradient(
              180deg,
              #ff6883 42.19%,
              rgba(255, 104, 131, 0.8) 61.86%,
              rgba(255, 104, 131, 0.52) 74.66%,
              rgba(255, 104, 131, 0) 96.61%
            );
            padding-block-start: 2.5rem;

            .circle {
              display: none;
            }
          }
        }
        .slide.diamond {
          .start-content > .start-img {
            padding-block-start: 2rem;
            img {
              max-width: 17rem;
              max-height: 24rem;
            }
          }
        }
      }
    }
  }
}
