@use "../../utils/index" as *;

.faq-section {
  .faq-content {
    @include flex();
    align-items: start;
    gap: 1.25rem;
    flex-wrap: wrap;
    > div {
      flex: 1;
    }
    .faq-drop-down {
      @include flex(column);
      padding: 1.625rem;
      gap: 0.625rem;
      border-radius: 2.5rem;
      border: 1px solid $gray-2;
      background: $white-1;

      .accardion {
        @include flex(column);
        @include font_style(body);
        align-items: start;
        border-bottom: 1px solid $gray-2;

        .question {
          @include flex();

          color: $black-1;
          justify-content: space-between;
        }
        .answer {
          color: $gray-1;
        }
      }
    }
    .faq-img {
      img {
        width: 100%;
      }
    }
  }
}
