@use '../utils/' as *;
.btn-close-component {
  background: $white-1;
  color: $pink-1;
  border: 1px solid $gray-2;
  border-radius: 0.625rem;
  padding: 0.5rem;
  box-shadow: 0px 4px 10px 0px rgba($black-1, 20%);
  font-size: 20px;
  transition: all 0.4s ease-in-out;
  &:hover {
    background: $pink-1;
    color: $white-1;
    border: 1px solid $pink-1;
    cursor: pointer;
  }
}

.btn-submit-component {
  box-shadow: 0px 4px 10px 0px rgba($black-1, 20%);
  background: $yellow-1;
  color: $black-1;
  border: 1px solid transparent;
  border-radius: 2.5rem;
  padding: 0.5rem 1.5rem;
  font-size: 20px;
  width: max-content;

  @include d_flex(row, center, center, nowrap, false, 0.5rem);
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $white-1;
    border: 1px solid $black-1;
    cursor: pointer;
  }
  @media (max-width: 480px) {
    width: 100%;
  }
}
