@use '../utils/' as *;
.input-field-component {
  border: 1px solid $gray-2;
  padding: 0.8rem 1rem;
  border-radius: 2.5rem;
  transition: all 0.3s ease-in;
  &:focus {
    border: 1px solid $pink-1;
  }
}
