@use '../utils/index' as *;

.cart-products-box {
  @include flex(column);

  padding: 1.25rem;
  border-radius: 2.5rem;
  border: 1px solid $gray-2;
  background: $white-1;
  gap: 0.62rem;
  width: 100%;
  h2 {
    @include font_style('h3');
    font-weight: bold;
    @include max_line(1);
    order: -1;
  }
  img {
    height: 7.9375rem;
    width: auto;
  }

  .btn-cart-custom {
    @include btn();
    @include font_style(body);
    color: $yellow-3;
    background: $yellow-1;
    box-shadow: none;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px 4px 10px 0px rgba($black-1, 20%);
    a {
      @include flex(row, space-between);
      width: 100%;
      white-space: nowrap;
    }
  }
  .not-purchasable {
    background: $gray-2;
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 1.5rem;
  }
}
