@use "../utils/index" as *;

.blogs-overview-page {
  .blog-page-slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    direction: ltr;
    .blog-slide {
      position: relative;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      direction: rtl;
      .content {
        .blog-hero-title {
          @include flex(column, start, start);
          gap: 1rem;
          color: $white-1;
          h1 {
            @include font_style(t1);
            @include text_overflow(1);
          }
          h4 {
            @include font_style(h1);
            @include text_overflow(1);
          }
          p.description-slide {
            @include font_style(body_b);
            @include text_overflow(1);
          }
          a {
            @include btn();
            @include font_style(body);
          }
          @media (width<=768px) {
            gap: 0.25rem;
            h1 {
              @include font_style(h1);
            }
            h4 {
              @include font_style(h2);
            }
            p.description-slide {
              @include font_style(body);
              @include text_overflow(2);
            }
          }
        }
        .image-box {
          @include flex();
          position: absolute;
          bottom: 0;
          img {
            max-width: 28rem;
            max-height: 31rem;
          }
          .blog-circle {
            width: 27.25rem;
            height: 27.25rem;
            border-radius: 50%;
          }
        }
      }
    }
  }

  .blog-section {
    .overview-blog-content {
      .blogs-row {
        .blog-page-row-blog {
          @include flex(column, start, center);
          width: 100%;
          opacity: 0;
          visibility: hidden;
          position: absolute;
          top: 0;
          transition: all 0.3s ease-in-out;

          .blog-row.active-blogs {
            opacity: 1 !important;
            visibility: visible !important;
            .cart-blog.active,
            .cart-blog {
              flex: 1;
              flex: 1 1 32%;
            }
          }
          .pagination {
            direction: ltr;
            display: flex;
            align-items: center;
            gap: 0.25rem;
            margin-top: 1.5rem;
            width: 100%;
            justify-content: start;

            a,
            span {
              border-radius: 0.75rem;
              background: var(--white-2, #fff);
              box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
              display: flex;
              width: 3rem;
              padding: 0.75rem 0.5rem 0.5rem 0.5rem;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 0.625rem;
              font-size: 1.25rem;
              font-weight: 500;
            }

            .next,
            .prev {
              display: none;
            }

            span {
              border-radius: 0.75rem;
              border: 1px solid var(--blue-1, #09cdf8);
              background: var(--white-2, #fff);
              color: var(--blue-2, #19b4e5);
              box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
            }

            span.dots {
              background: none;
              border: none;
              box-shadow: none;
              color: #e6eaed;
              padding: 0;
              width: 1rem;
            }
          }
          .empty-content {
            margin-top: 2rem;

            .empty-img {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              .cloudy-circle {
              }
            }
          }
        }
        .blog-page-row-blog.active-blogs {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.overview-blog-content {
  .cart-blog.active {
    .content-cart-blog,
    .info-cart-blog {
      padding: unset;
    }
    div.description {
      p {
        @include text_overflow(1);
      }
    }
  }
}
