@use "../utils/index" as *;

.coaches-overview {
  padding-block-start: 5rem;
  .coaches {
    .coaches-blocks {
      @include flex(column);
      margin-block-start: 1.5rem;
      gap: 4rem;
      .classes-content {
        width: 100%;
      }
    }
  }
  @media (max-width: 768px) {
    .coaches {
      .coaches-blocks {
        gap: 3rem;
      }
    }
  }
}
