@use "../utils/index" as *;

.course-overview-page {
  padding-block-start: 7rem;

  .all-course-overview {
    .course-row {
      @include flex(column, center, start);
      gap: 2rem;

      overflow: hidden;

      @media (width<=768px) {
        gap: 1rem;
      }
    }
  }
  .ticker-section {
    margin-block-start: 2rem;

    .section-title-sub {
      h2 {
        @include font_style(h2);
        @include text_overflow(1);
        margin-block-end: 0.39rem;
      }
      span {
        @include font_style(h3);
        @include text_overflow(1);
      }
    }

    .ticker {
      overflow: hidden;
      ul {
        @include flex;

        direction: ltr;
        margin-block-start: 2rem;
        gap: 2rem;
        .ticker-items {
          @include flex;

          direction: ltr;
          gap: 2rem;

          li {
            @include flex;
            gap: 0.37rem;
            border-radius: 2.5rem;
            background: #ff3d5a;
            padding: 0.5rem 1.25rem 0.5rem 0.75rem;
            direction: rtl;
            span {
              @include font_style(body_b);
              color: $white-1;
              white-space: nowrap;
            }

            i {
              @include flex;
              width: 3.4375rem;
              height: 3.4375rem;
              background: $white-1;
              border-radius: 50%;
              transform: rotate(180deg);

              &::before {
                font-size: 1.5rem;
                color: $black-1;
              }
            }
          }
        }
      }
    }
  }
}
