@use '../utils/' as *;
main.single-course-page {
  margin-top: 1rem;
  .container {
    position: relative;
  }
  .class-details-explain {
    @include d_flex(column, flex-start, stretch, $gap: 1.5rem);
    .class-thumbnail-group {
      @include d_flex(row, space-between, stretch, nowrap, false, 1.25rem);
      .class-thumbnail {
        img {
          max-height: 31rem;
          border-radius: 2.5rem;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      .thumbnail1 {
        flex: 1;
        img {
          aspect-ratio: 4/3;
        }
      }
      .thumbnail2 {
        img {
          aspect-ratio: 1/1;
        }
      }
      @media (max-width: 1000px) {
        > div {
          flex: 1;
        }
      }
      @media (max-width: 768px) {
        flex-direction: column;
      }
    }
    .class-detail-group {
      @include d_flex(row, space-between, center, nowrap, true, 1.25rem);
      .class-description {
        h2 {
          margin-bottom: 0.75rem;
        }
      }
      .class-detail {
        border: 1px solid $gray-2;
        border-radius: 1.5rem;

        @include d_flex(column, flex-start, stretch, $gap: 1.5rem);
        .detail-group-wrapper {
          .detail-property {
            &:not(:last-child) {
              border-bottom: 1px solid $gray-2;
            }
            padding: 1.5rem;
            @include d_flex(row, space-between, center, nowrap, true, 1.25rem);
            .property-name {
              color: $gray-1;
            }
            .property-value {
              text-align: end;
              @include d_flex(row, flex-end, center, wrap, false, 0.5rem);
            }
            .price {
              color: $blue-2;
            }
            &.times-and-days {
              .property-value {
                > div {
                  width: max-content;
                }
              }
            }
          }
        }
        .btn-wrapper {
          padding: 0 1.5rem 1.5rem 1.5rem;
          width: 100%;
          .btn-submit-component {
            width: 100%;
          }
        }
      }
      @media (max-width: 800px) {
        flex-direction: column;
        align-items: stretch;
        .class-detail {
          width: 100%;
        }
        .class-description {
          width: 100%;
        }
      }
    }
  }
  .other-classes {
    margin-top: 2rem;
    width: 100%;
    h2 {
      margin-bottom: 1.5rem;
    }
    .classes-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
      gap: 1rem;
      width: 100%;
    }
  }
}
