@use '../utils/index' as *;

.video-page {
  .testimonial-video-section,
  .coaches-video-section,
  .students-video-section {
    margin-block-start: 2rem;
    .video-row {
      @include flex(row, start, start);
      gap: 1rem;
      flex-wrap: wrap;
      > * {
        flex: 1;
        flex-basis: 32%;
        max-width: 32%;
        border-radius: 1.875rem;
        height: auto;
        overflow: hidden;
      }
    }
  }

  .video-part-content {
    @include sudo(before, 100%, 100%, $black-1) {
      background: linear-gradient(
        179deg,
        rgba(0, 0, 0, 0) 13.41%,
        rgb(0 0 0) 98.21%
      );
      opacity: 0;
      position: absolute;
      transition: inherit;
      border-radius: 1.875rem;
    }
    transition: all 0.5s ease-in-out;
    position: relative;
    img {
      border-radius: 1.875rem;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      object-fit: cover;
    }
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      transition: all 0.5s ease-in-out;
    }
    .text-content {
      @include flex(column, start, start);
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      gap: 0.25rem;
      color: $white-1;
      width: 90%;
      h3 {
        @include font_style(h3);
        opacity: 0;
        color: $white-1;
        transition: opacity 0.3s ease;
      }
      span {
        @include font_style(body);
        opacity: 0;
        color: $white-1;
        transition: opacity 0.3s ease;
      }
    }
    video {
      display: none;
    }
    &:hover {
      &::before,
      span,
      h3 {
        opacity: 1;
      }
      svg {
        circle {
          fill: none;
          stroke: $white-1;
          stroke-width: 1px;
        }
        path {
          fill: $white-1;
        }
      }
    }
  }

  @media (max-width: 992px) {
    .slider-video-section {
      .video-overview-slider {
        height: 22rem;
        .swiper-wrapper {
          .swiper-slide {
            .video-part-content {
              height: 100%;
            }
          }
        }
      }
    }
    .testimonial-video-section,
    .coaches-video-section {
      .video-row {
        > * {
          flex: 1 1 46%;
          height: 18.5rem;
        }
      }
    }
  }
  @media (max-width: 767px) {
    padding-block-start: 3rem;
    .testimonial-video-section,
    .coaches-video-section {
      .video-row {
        > * {
          flex: 1 1 100%;
        }
      }
    }
  }
}
