@use "../utils/index" as *;

.section-title {
  @include flex();
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-block-start: 1.5rem;
  margin-block-end: 0.75rem;
  h2 {
    @include font_style(h1);
  }
  a {
    @include btn($red: true);
  }
  @media (width<=768px) {
    flex-direction: column;
    align-items: start;

    h2 {
      @include font_style(h2);
    }
    a {
    display: none;
    }
  }
}
.section-btn{
  display: none;
  @media (width<=768px) {
    @include flex();
    margin-block-start: 0.75rem;

    a{
      @include btn($red: true);
      width: 100%;
    }

  }
}


.breadcrumb-btn {
  @include flex();
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-block-start: 1.5rem;
  > * {
    @include btn($icon: true, $side: true) {
      color: $black-1;
    }
  }

  @media (width<=992px) {
    display: none;
  }
}
