@use "../utils/index" as *;

.cart-products-box {
  @include flex(column);

  padding: 1.25rem;
  border-radius: 2.5rem;
  border: 1px solid $gray-2;
  background: $white-1;
  gap: 0.62rem;
  > a.woocommerce-LoopProduct-link {
    @include flex(column);
    gap: 0.62rem;
    h2 {
      @include font_style(h3);
      @include text_overflow(1);
      order: -1;
    }
    img {
      height: 7.9375rem;
      width: auto;
    }
  }
  .btn-cart-custom {
    @include btn();
    @include font_style(body);
    color: $white-1;
    justify-content: space-between;
    width: 100%;
    a {
      white-space: nowrap;
    }
  }
}
