@use "../utils/index" as *;

.panels-navigation {
  display: flex;
  gap: 0.38rem;
  margin-block-end: 1.12rem;
  transition: all 0.3s ease-in-out;
  .next {
    i {
      &::before {
        transform: rotate(180deg);
      }
    }
  }
  i {
    @include flex();
    width: 2.75rem;
    height: 2.75rem;
    background-color: $pink-1;
    border-radius: 50%;
    border: 1px transparent;
    transition: all 0.3s ease-in-out;
    &::before {
      font-size: 1.5rem;
      color: $white-1;
    }
    &:hover{

        background-color: $white-1;
        border: 1px solid $pink-1;
        &::before {
          color:$pink-1;
        }

    }
  }

}
.height-slide {
  @include flex(column, space-around, start);
  height: 100vh !important;
  > * {
    width: 100%;
  }

  @media (max-width: 992px) {
    height: 100% !important;
  }
}
