@use "../../utils/index" as *;

.course-form {
  @include flex(row, start);

  flex-wrap: wrap;
  gap: 1.25rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: $white-1;
  border-top: 1px solid $gray-2;
  border-bottom: 1px solid $gray-2;
  width: 100%;

  .details-course {
    flex-basis: 6%;
    max-width: 5.7rem;
    height: 100%;
    border-radius: 2.5rem 0rem 0rem 2.5rem;

    > diV {
      @include flex(column, space-between, end);
      @include font_style(h3);

      height: 100%;
      border-radius: 0rem 2.5rem 2.5rem 0rem;
      padding: 1.5rem;
      position: relative;

      span {
        transform: rotate(90deg);
        white-space: nowrap;
        position: absolute;
        bottom: 3.5rem;
        left: -1rem;
      }
    }
  }

  .form {
    flex-basis: 60%;

    form {
      @include flex(row, start);

      gap: 1rem;
      flex-wrap: wrap;

      .form-wrapper {
        @include flex(column, space-between, start);
        @include font_style(body);

        flex: 1 1 48%;
        gap: 0.25rem;

        lable {
          @include font_style(body);

          color: $black-1;
        }

        input {
          @include font_style(body);
          padding: 0.5rem 1rem 0.5rem 1.25rem;
          width: 100%;
          border-radius: 2.5rem;
          border: 1px solid $gray-2;
          background: $white-2;
          color: $gray-1;
          max-height: 3.2rem;
        }
      }

      .form-btn {
        margin-block-start: 1rem;
        max-height: 3.2rem;
        button {
          @include btn($icon: true);
        }
      }
    }
  }

  .circle-content {
    @include flex();
    height: 100%;
    flex: 1;
    border-radius: 0rem 2.5rem 2.5rem 0rem;
    position: relative;
    .circle{
      @include flex();
      height: 100%;
      position: relative;
      right: 30%;
      .circle-1 {
        width: 27rem;
        height: 27rem;
        background: none;
        border: 2.5rem solid rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        position: absolute;
        top: -8px;


        @media (width<= 500px) {
          width: 19.5rem;
          height: 19.54rem;
          //@include sudo(before, 12rem, 12rem, none);
          //@include sudo(after, 4.7rem, 4.7rem, none);
        }
      }
      .circle-2{
        width: 16rem;
        height: 16rem;
        background: none;
        border: 2.5rem solid rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        position: absolute;


      }

      .circle-3{
        width: 8rem;
        height: 8rem;
        background: none;
        border-radius: 50%;
        position: absolute;
        border: 1.5rem solid rgba(255, 255, 255, 0.5);

      }
    }


  }
}

.course-block.yellow {
  .circle-content {
    background: $yellow-1;
  }

  .details-course {
    background: $yellow-1;
  }
}

.course-block.pink {
  .circle-content {
    background: $pink-1;
  }

  .details-course {
    background: $pink-1;
  }
}

.course-block.blue {
  .circle-content {
    background: $blue-1;
  }

  .details-course {
    background: $blue-1;
  }
}



@media (width<=992px) {
  .course-form {

    gap: 0rem;
    border: none;
    .details-course {
      flex-basis: 100%;
      max-width: 100%;
      height: 4.12rem;
      border-radius: 1.75rem  1.75rem 0rem 0rem;
      z-index: 0;
      margin-block-end: -2px;
      position: relative;

      > diV {
        flex-direction: row;
        span {
          transform:unset;
          position: unset;
          order: -1;
        }
      }
    }

    .form {
      flex-basis: 100%;
      border-radius:  0rem 0rem 1.75rem 1.75rem;
      border: 1px solid $black-1;
      padding: 0.5rem 1rem 1.25rem 1rem;

      form {
        flex-direction: column;
        gap: 0.75rem;
        .form-wrapper {
          width: 100%;

        }

        .form-btn {
          margin-block-start: 1rem;
          width: 100%;

          button {
            width: 100%;
            a{
              width: 100%;
            }
          }
        }
      }
    }

    .circle-content {
display: none;
    }
  }
}