@use "../../utils/index" as *;

.course-block {
  @include flex();

  overflow: hidden;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  min-height: 25rem;

  .course-info {
    @include flex(row, start, start);

    flex-wrap: wrap;
    flex: 1 1 90%;

    .course-info-content {
      @include flex(column, start, start);
      @include font_style(body);

      flex: 2;
      padding: 2.5rem;
      gap: 1.25rem;
      border-radius: 2.5rem 0rem 0rem 2.5rem;
      border: 1px solid $gray-2;
      background: $white-1;
      border-right: none;

      .title {
        @include flex(row, space-between);
        width: 100%;
        padding-block-end: 0.62rem;

        h3 {
          @include font_style(h2);
          @include text_overflow(1);
          max-width: 70%;
        }

        span {
          @include font_style(h4);
          color: $gray-1;
        }
      }

      .content {
        @include flex(column, start);
        width: 100%;
        gap: 0.75rem;

        .description {
          height: 9rem;
          @include text_overflow(4);
        }
        .details-mobile{
          display: none;
        }
        .detail {
          @include flex(row, space-between);
          width: 100%;

          div {

            @include flex(row, start, center);

            gap: 0.25rem;
          }
        }
      }

      .btn {
        @include flex(row, center, start);

        a {
          @include btn();
        }
      }
    }

    .course-img {
      @include flex();
      flex: 1;

      img {
        max-width: 22.22256rem;
        max-height: 25.74163rem;
      }
    }
  }

  .course-form-block {
    max-width: 5.7rem;
    height: 25rem;
    flex: 1 1 5%;
    .show-form {
      @include flex(column, space-between, start);
      @include font_style(h3);
      //width: 6rem;
      height: 100%;
      border-radius: 0rem 2.5rem 2.5rem 0rem;
      padding: 1.5rem;

      span {
        transform: rotate(270deg);
        white-space: nowrap;
        padding-top: 2rem;
      }
    }

    .course-form {
      transform: translateX(-100%);
      transition: transform 0.5s ease-in-out;
    }

    .course-form.active {
      transform: translateX(0);
      width: 100%;
      transition: transform 0.5s ease-in-out;
    }
  }


  @media (width<=768px) {
    .course-info {
      .course-info-content {
        .title {
          h3 {
            @include font_style(h4);
          }
        }

        .btn {
          @include flex();

          a {
            width: 100%;
          }
        }
      }

      .course-img {
        display: block;
      }
    }

  }
  @media (width<=992px) {

    flex-direction: column;
    .course-info {
      flex-direction: column;
      flex-basis: 100%;

      .course-info-content {
        padding: 1rem;
        border-radius: 0rem 0rem 1.75rem 1.75rem;
        border: 1px solid $black-1;
        gap: 0.75rem;

        .content {
          .details-mobile{
         @include flex(row,start);
            width: 100%;
          }
          .description {
            height: 18rem;
            @include text_overflow(8);
          }
          .detail> .details-large-view{
            display: none;
          }

        }

        .btn {
          align-items: center;
          width: 100%;
          max-height: 3.2rem;

          a {
            width: 100%;
          }
        }
      }

      .course-img {
        display: none;
      }
    }
    .course-form-block {
      order: -1;
      max-width: 100%;
      width: 100%;
      height: 4.12rem;
      margin-block-end: -2px;
      z-index: 0;

      .show-form {
        border-radius: 1.75rem 1.75rem 0rem 0rem;
        flex-direction: row;

        span {
          transform: unset;
          padding-top: 0;
        }
      }

      .course-form {
        transform: translateX(0);
        transform: translateY(-110%);
      }

      .course-form.active {
        transform: translateY(0);
        height: 100%;
        display: unset;
      }
    }
  }
}


.course-block.yellow {
  .course-info {
    .course-info-content > .title {
      border-bottom: 2px solid $yellow-1;
    }
  }

  .course-form-block {
    .show-form {
      background: $yellow-1;
    }
  }
}

.course-block.pink {
  .course-info {
    .course-info-content > .title {
      border-bottom: 2px solid $pink-1;
    }
  }

  .course-form-block {
    .show-form {
      background: $pink-1;
    }
  }
}

.course-block.blue {
  .course-info {
    .course-info-content > .title {
      border-bottom: 2px solid $blue-1;
    }
  }

  .course-form-block {
    .show-form {
      background: $blue-1;
    }
  }
}
